<div>
  <div class="header">My Heroes</div>
  <br/>
  <div class="hero-list">
    <div
      *ngFor="let hero of heroes"
      class="hero"
      [ngClass]="{ 'active': (selectedHero && hero._id === selectedHero._id) }"
      (click)="selectHero(hero._id)"
    >
      <div class="id">{{ hero._id }}</div>
      <div class="name">{{ hero.name }}
      <div class="favorite">
        <svg
          *ngIf="hero.hasStar"
          preserveAspectRatio="none"
          class="star"
          viewBox="0 0 30 30"
          data-rating="1"
        >
          <polygon
            points="15,0 4,28 30,10 0,10 26,28 15,0"
            class="star-polygon"
          />
        </svg>
      </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedHero">
    <br/>
    <span class="selected-hero">
      {{ selectedHero.name | uppercase }} is my hero
    </span>
    <br/><br/>
    <div
      class="btn"
      (click)="editSelectedHero()"
    >
      View Details
    </div>
  </div>
</div>