<div class="heros-container">
  <div class="title">Tour of Heroes</div>
  <div class="nav">
    <div tabindex="null" class="btn" routerLink="/dashboard" routerLinkActive="active">Dashboard</div><div tabindex="null" class="btn" routerLink="/list" routerLinkActive="active">Heroes</div><div tabindex="null" class="btn" routerLink="/editor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">Hero editor</div>
  </div>
  <br/>
  <div *ngIf="isLoading">
      Loading Heroes
  </div>
  <router-outlet *ngIf="!isLoading"></router-outlet>
</div>