
.html, .body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,.65);
}

.header {
    text-align: center;
    font-size: 1.2rem;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background: rgba(237,237,237,1);
    cursor: pointer;
}

.btn.active {
    color: rgba(118,174,229,1);
}

.btn:hover {
    color: rgba(118,174,229,1);
    background: rgba(0,0,0,.08);
}

.star {
    width: 15px;
    height: 15px;
}

.star > .star-polygon {
    fill-rule: nonzero;
    fill: #ffd055;
}

.align-right {
    text-align: right;
}
