
.star-checkbox {
    width: 20px;
    position: relative;
}

.star-checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: linear-gradient(to bottom right, rgba(237,237,237,.3) 0%, rgba(255,255,255,0) 100%);
    box-shadow: inset 1px -1px 11px rgba(237,237,237,1);
}

.star-checkbox label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #ffd055;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.star-checkbox label:hover::after {
    opacity: 0.3;
}

.star-checkbox input[type=checkbox] {
    visibility: hidden;
}

.star-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
